{% extends "layout.html" %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Education</h1>
</div>
<div class="mt-5">
    <table class="table">
        <thead>
          <tr>
           
            <th scope="col">Degree</th>
            <th scope="col">Institution</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>B.S.C</td>
            <td>Daffodil International University</td>
            <td>3.91</td>
          </tr>
          <tr>
            <td>H.S.C</td>
            <td>Gurudoyal Govt.Collage,kishoreganj</td>
            <td>5.00</td>
          </tr>
          <tr>
            <td>S.S.C</td>
            <td>Zilla Smoroni Girls High School,kishoreganj</td>
            <td>5.00</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}