{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h3 class="text-center">Introduction</h3>
    <p class="text-center">Hey,i'm nipa saha.I love travel to different places</p>
    <img src="{% static 'images/pic1.jpeg' %}" class="rounded mx-auto d-block w-25 p-3" alt="My_photo">
</div>

<div class="container mt-5">
    
    <div>
        <div class="card">
            <div class="card-header">
                Work Experience
            </div>
            <div class="card-body">
              <h5 class="card-title">Microsoft</h5>
              <strong>2022 Jan 01-continue</strong>
              <p class="card-text">Jr.software Enginner</p>
              
            </div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">C</li>
                    <li class="list-group-item">Java</li>
                    <li class="list-group-item">Python</li>
                    
                  </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Web Developer Intern</h5>
                <strong>2021 Jan 01-2022 Dec 01</strong>
                <p class="card-text">Jr.Hardware Enginner</p>
                
              </div>
              <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Node</li>
                    <li class="list-group-item">React</li>
                    <li class="list-group-item">Html</li>
                    <li class="list-group-item">css</li>
                  </ul>
              </div>
          </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
          Skills
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
                <strong class="text-center">programming Language</strong>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Microsoft excel</li>
                        <li class="list-group-item">C</li>
                        <li class="list-group-item">C++</li>
                        <li class="list-group-item">Microsoft word</li>
                        <li class="list-group-item">Java</li>
                        <li class="list-group-item">Python</li>
                      </ul>
                  </div>
            </div>
            

            <div class="col">
                <strong class="text-center">Framework</strong> 
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">powerpoint slide</li>
                        <li class="list-group-item">Flask</li>
                        <li class="list-group-item">Django</li>
                        <li class="list-group-item">Word documentation</li>
                        <li class="list-group-item">React</li>
                        <li class="list-group-item">Tensorflow</li>
                      </ul>
                  </div> 
                    
            </div>
            
            


          </div>
        </div>
      </div>
</div>
{% endblock %}

